banking-wallet/node_modules
banking-wallet/src/.env
API-Gateway/node_modules
API-Gateway/src/.env
mail-service/node_modules
mail-service/src/.env
processing-service/node_modules
processing-service/src/.env